sdklib/src/main/java/com/android/sdklib/repositoryv2/sdk-common-01.xsd

<!--
  ~ Copyright (C) 2015 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!--
    Extension to repo-common containing common information shared by the android sdk-specific
    schemas.

    JAXB-usable classes can be generated from this schema as follows:
    java com.sun.tools.internal.xjc.Driver \
         -catalog <tools/base path>/repository/src/main/java/com/android/repository/api/catalog.xml \
         -b <tools/base path>/repository/src/main/java/com/android/repository/api/common.xjb \
         -episode com/android/sdklib/repositoryv2/sdk-common.xjb
         -p com.android.sdklib.repositoryv2.generated.common.v1 \
         com/android/sdklib/repositoryv2/sdk-common-01.xsd \
         -extension -Xandroid-inheritance \
         -b repository/src/main/java/com/android/repository/api/global.xjb -no-header

    with tools.jar, jaxb-inheritance-plugin.jar, and the repository classes on the classpath.
    Note that you can not use the xjc executable, as it does not support 3rd-party plugins.
-->

<xsd:schema
        targetNamespace="http://schemas.android.com/sdk/android/repo/common/01"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:sdk="http://schemas.android.com/sdk/android/repo/common/01"
        xmlns:common="http://schemas.android.com/repository/android/common/01"
        elementFormDefault="unqualified"
        attributeFormDefault="unqualified"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        xmlns:plugin="http://schemas.android.com/android/jaxb/plugin/1"
        jaxb:extensionBindingPrefixes="plugin"
        version="1"
        jaxb:version="2.0">

    <xsd:import namespace="http://schemas.android.com/repository/android/common/01"/>

    <xsd:annotation>
        <xsd:documentation>
            Customization specifying the superclass of ObjectFactory.
        </xsd:documentation>
        <xsd:appinfo>
            <plugin:super name="com.android.sdklib.repositoryv2.meta.SdkCommonFactory"/>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:complexType name="apiDetailsType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>
                Abstract subclass of type-details adding elements to specify the android version
                a package corresponds to.
            </xsd:documentation>
            <xsd:appinfo>
                <plugin:super name="com.android.sdklib.repositoryv2.meta.DetailsTypes$ApiDetailsType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:typeDetails">
                <xsd:sequence>
                    <!-- api revision number for released android versions -->
                    <xsd:element name="api-level" type="xsd:int"/>
                    <!-- codename for pre-release android versions -->
                    <xsd:element name="codename" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="idType">
        <xsd:annotation>
            <xsd:documentation>
                Simple type enforcing restrictions on machine-readable strings.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="[a-zA-Z0-9_-]+"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="idDisplayType">
        <xsd:annotation>
            <xsd:documentation>
                A string with both user-friendly and easily-parsed versions.
            </xsd:documentation>
            <xsd:appinfo>
                <plugin:super name="com.android.sdklib.repositoryv2.IdDisplay"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="id" type="sdk:idType"/>
            <xsd:element name="display" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="libraryType">
        <xsd:annotation>
            <xsd:documentation>
                a library provided by this addon
            </xsd:documentation>
            <xsd:appinfo>
                <plugin:super name="com.android.sdklib.repositoryv2.meta.DetailsTypes$Library"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="description" type="xsd:string" minOccurs="1"/>
        </xsd:sequence>
        <!-- Path to the library jar file relative to the libs directory in the package.-->
        <xsd:attribute name="localJarPath" use="required" type="xsd:string"/>
        <!-- Name of this library -->
        <xsd:attribute name="name" use="required" type="xsd:string"/>
        <!-- Whether a manifest file entry is required for this library -->
        <xsd:attribute name="manifestEntryRequired" use="optional" default="true"
                       type="xsd:boolean"/>
    </xsd:complexType>

    <xsd:complexType name="_xjcWorkaround">
        <xsd:annotation>
            <xsd:documentation>
                Due to a bug/limitation in xjc, if you import a schema you must reference all
                imported types that include plugin customizations, or it is impossible to
                acknowledge that the customizations are processed.
                This type will be removed from classes generated from this schema by InheritancePlugin.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="dummy-license"      type="common:licenseType"/>
            <xsd:element name="dummy-revision"     type="common:revisionType"/>
            <xsd:element name="dummy-archive"      type="common:archiveType"/>
            <xsd:element name="dummy-dependency"   type="common:dependencyType"/>
            <xsd:element name="dummy-remote"       type="common:remotePackage"/>
            <xsd:element name="dummy-local"        type="common:localPackage"/>
            <xsd:element name="dummy-os"           type="common:osType"/>
            <xsd:element name="dummy-licenses"     type="common:licensesType"/>
            <xsd:element name="dummy-dependencies" type="common:dependenciesType"/>
            <xsd:element name="dummy-archives"     type="common:archivesType"/>
            <xsd:element name="dummy-type"         type="common:typeDetails"/>
            <xsd:element name="dummy-repository"   type="common:repositoryType"/>
            <xsd:element name="dummy-complete"     type="common:completeType"/>
            <xsd:element name="dummy-patch"        type="common:patchType"/>
            <xsd:element name="dummy-patches"      type="common:patchesType"/>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>
